<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/scripts/client.js" defer></script>
    <script
      src="https://kit.fontawesome.com/9bb33a53bf.js"
      crossorigin="anonymous"
    ></script>
    <title>Community</title>
  </head>
  <body>
    {{{body}}}
    <footer>
      <nav>
        <a href="/prikbord">
          <i class="fa-light fa-thumbtack"></i>
          Prikbord</a>
        <a href="/groups">
          <i class="fa-light fa-user-group"></i>
          Groepen</a>
        <a href="/chat">
          <i class="fa-light fa-comment"></i>
          Chat
        </a>
        <div class="hidden" id="notification"></div>
        <a href="/profile">
          <i class="fa-light fa-user"></i>
          Profiel</a>
      </nav>
    </footer>
  </body>
</html>