<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/scripts/client.js" defer></script>
    <title>Community</title>
  </head>
  <body>
    {{{body}}}
    <footer>
      <nav>
        <a href="/">Home</a>
        <a href="#">Prikbord</a>
        <a href="#">Profiel</a>
      </nav>
    </footer>
  </body>
</html>