<header>
  <h1>Chat</h1>
  <h3 id="user">{{user}}</h3>
</header>
<main class="chat">
  <section>
    <article>
      <h2>Start een conversatie met de complexbeheerder </h2>
    </article>
    <ul>

    </ul>

  </section>
  <section>
    <form class="chatForm" action="#" method="post">
      <input class="chatInput" type="text" />
      <input type="submit" value="Verstuur" />
    </form>
  </section>
</main>