<header class="detailHeader">
  {{#if user.admin}}
    <a href="/chat">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1>{{roomName}}</h1>
    <h3 id="user">{{user.name}}</h3>
  {{else}}
    <a href="/prikbord">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1>Chat</h1>
    <h3 id="user">{{user.name}}</h3>
  {{/if}}
</header>

<main class="chat">
  <section>
    {{#unless user.admin}}
      <p class="infoMessage">
        Houdt er rekening mee dat de complexbeheerder werkzaam is op werkdagen
        van 09:00 tot 18:00 en niet op elk moment van de dag kan reageren.
        <br />
        Berichten zullen zo spoedig mogelijk beantwoord worden</p>
    {{/unless}}
    <ul>

    </ul>
  </section>
  <section>
    <form class="chatForm" action="#" method="post">
      <label for="file"><i class="fa-light fa-circle-plus"></i></label>
      <input type="file" name="file" id="file" />
      <input class="chatInput" type="text" />
      <button><i class="fa-regular fa-paper-plane-top"></i></button>
    </form>
  </section>
</main>