<header>
  <h1>Interesse Groepen</h1>
</header>
<main class="groups">
  <section>
    <ul>
      {{#each groups}}
        <li>
          <article>
            <img src="/images/{{image}}" alt="" />
            <div>
              <h3>{{name}}</h3>
              <p>{{members}} Leden</p>
            </div>
            <button>+</button>
          </article>
        </li>
      {{/each}}
    </ul>
  </section>
</main>