<header>
  <h1>Community</h1>
</header>
<main class="index">
  <section>
    <h2>Samen sta je sterker!</h2>
    <form value="hond" class="post" action="/" method="POST">
      <label for="name">Gebruikersnaam:</label>
      <input type="text" id="name" name="name" required />
      <input type="submit" value="Welkom" />
    </form>
  </section>
  <footer>
    <nav>
      <a class="activeLink" href="/">Home</a>
      <a href="/prikbord">Prikbord</a>
      <a href="#">Chat</a>
      <a href="#">Profiel</a>
    </nav>
  </footer>
</main>