<header>
  <h1>Community</h1>
</header>
<main class="index">
  <section>
    <h2>Samen sta je sterker!</h2>
    <form value="hond" class="post" action="/" method="POST">
      <label for="name">Gebruikersnaam:</label>
      <input type="text" id="name" name="name" required autocomplete="off" />
      <input type="submit" value="Welkom" />
    </form>
  </section>
</main>