<main class="onboarding">
  <section class="backdoor">
    <article>
      <img src="/images/shutterstock_1734170210.jpeg" alt="" />
      <h1>In contact met jouw buren!</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>
    <a href="/onboarding/2"><button class="nextStep">Volgende</button></a>
    <div class="progressbar">
      <div class="progress"></div>
    </div>
    <section class="door">
      <a href="/">X</a>
      <h1>Community</h1>
      <h2>Welkom {{user}}</h2>
      <img src="/images/handen.png" alt="" />
    </section>
  </section>
</main>