<main class="onboarding">
  <section>

    <article class="step5">
      <h1>Richtlijnen voor het Prikbord</h1>
      <ul>
        <li><h2>Wees respectvol en vriendelijk</h2></li>
        <li><h2>Wees behulpzaam en ondersteunend</h2></li>
        <li><h2>Houd het prikbord georganiseerd</h2></li>
        <li><h2>Wees bewust van privacy</h2></li>
        <li><h2>Vermijd spam en reclame</h2></li>
        <li><h2>Meld misbruik en ongepast gedrag</h2></li>
        <li><h2>Wees geduldig en begripvol</h2></li>
      </ul>
    </article>

    <article class="step4">
      <img class="contain" src="/images/4.png" alt="" />
      <h1>Meld je aan voor interesse groepen</h1>
      <p>Zie alleen informatie die voor jou van belang is</p>
    </article>

    <article class="step3">
      <img src="/images/3.png" alt="" />
      <h1>Neem direct contact op met de complexbeheerder</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>

    <article class="step2">
      <img class="contain" src="/images/post.png" alt="" />
      <h1>Deel berichten op het prikbord</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>

    <article class="step1">
      <img src="/images/shutterstock_1734170210.jpeg" alt="" />
      <h1>In contact met jouw buren!</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>

    <div id="progressFooter">
      <button id="nextButton" class="nextStep">Volgende</button>
      <div class="progressbar">
        <div id="progress" class="progress"></div>
      </div>
    </div>
  </section>

</main>