<header class="detailHeader">
  <a href="/prikbord">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
    ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path
        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
      ></path>
    </svg>
  </a>
  <h1>Nieuw bericht</h1>
</header>
<main class="post">
  <section>
    <form
      class="postForm"
      action="/post"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="title">Titel</label>
      <input type="text" id="title" name="title" required />
      <label for="message">Bericht</label>
      <textarea id="message" name="message" required></textarea>
      <label for="">Afbeelding</label>
      <fieldset>
        <label class="upload" for="image">
          <svg
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path
              d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
            ></path>
          </svg>
          <p>Upload</p>
        </label>
        <input id="image" type="file" name="file" />
      </fieldset>
      <label for="group">Interesse groep</label>
      <select name="group" id="group">
        {{#each myGroups}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <input type="submit" value="Plaats bericht" />
    </form>
  </section>
</main>