<main class="onboarding">
  <section class="backdoor">
    <article>
      <img class="contain" src="/images/post.png" alt="" />
      <h1>Deel berichten op het prikbord</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>
    <a href="/onboarding/3"><button class="nextStep">Volgende</button></a>
    <div class="progressbar">
      <div class="progress progress2"></div>
    </div>
  </section>
</main>