<main class="onboarding">
  <section>
    <article>
      <img src="/images/3.png" alt="" />
      <h1>Neem direct contact op met de complexbeheerder</h1>
      <p>Blijf op de hoogte van het laatste nieuws in jouw gebouw</p>
    </article>
    <a href="/onboarding/4"><button class="nextStep">Volgende</button></a>
    <div class="progressbar">
      <div class="progress progress3"></div>
    </div>
  </section>
</main>