<main class="onboarding">
  <section>
    <article>
      <img class="contain" src="/images/4.png" alt="" />
      <h1>Meld je aan voor interesse groepen</h1>
      <p>Zie alleen informatie die voor jou van belang is</p>
    </article>
    <a href="/onboarding/chooseGroups"><button
        class="nextStep"
      >Volgende</button></a>
    <div class="progressbar">
      <div class="progress progress4"></div>
    </div>
  </section>
</main>