<main class="onboarding">
  <section class="backdoor">
    <article>
      <img src="/images/shutterstock_1734170210.jpeg" alt="" />
      <h1>Meld je aan voor interesse groepen</h1>
      <p>Zie alleen informatie die voor jou van belang is</p>
    </article>
    <a href="/"><button class="nextStep">Volgende</button></a>
    <div class="progressbar">
      <div class="progress progress4"></div>
    </div>
  </section>
</main>