:root {
  --primary-color: #007aff;
  --secondary-color: #1f8d84;
  --text-color: #1b2032;
  --danger: #f44336;

  --background-color: #ffffff;
  --backdrop-shadow: 1px 1px 6px #0000000f;
  --divider: 0.5px solid #6b717526;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: metropolis, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f2f2;
}

header {
  background-image: linear-gradient(90deg, #0055b3, var(--primary-color));
  color: white;
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 3.5em;
}

header h1 {
  font-size: 1.8rem;
  margin: 1rem;
}

main {
  flex: 1;
  margin-bottom: 56px;
}

ul {
  list-style-type: none;
}

li {
  color: #1b2032;
}

a {
  text-decoration: none;
  color: #9d9d9d;
}

i {
  text-align: center;
  font-size: 20px;
  margin-bottom: 6px;
}

p {
  line-height: 1.5;
  color: #1b2032;
  word-wrap: break-word;
}

h2 {
  width: 100%;
  color: var(--primary-color);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

h3 {
  font-size: 0.9em;
  color: #1b2032;
  font-weight: 600;
  word-break: initial;
  margin: 0;
}

button {
  border: none;
  box-shadow: var(--backdrop-shadow);
}

input[type="text"],
textarea {
  border: var(--divider) !important;
  background-color: #f0f0f0 !important;
}

.activeLink {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

footer nav {
  left: 0;
  width: 100%;
  bottom: 0;
  height: calc(56px + env(safe-area-inset-bottom));
  display: flex;
  padding: 0 16px env(safe-area-inset-bottom);
  z-index: 950;
  position: fixed;
  box-shadow: var(--backdrop-shadow);
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

footer nav a {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

footer nav a svg {
  fill: #23416c;
  margin-bottom: 4px;
}

section {
  margin: 1em;
}

article {
  padding: 1em;
}

#newMessage {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  color: #fff;
  position: fixed;
  z-index: 300;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  box-shadow: var(--backdrop-shadow);
}

#newMessage i {
  font-size: 0.9rem;
  margin: 0 0 0 0.3em;
}

.prikbord section ul {
  display: flex;
  flex-direction: column-reverse;
}

.prikbord article {
  border-radius: 6px;
  box-shadow: var(--backdrop-shadow);
  color: inherit;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 5em;
  overflow: hidden;
  text-decoration: none;
  word-break: break-word;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fdfdfdde;
}

.prikbord article header {
  background-image: none;
  display: grid;
  grid-template-columns: 1fr 80% 10%;
  align-content: center;
  z-index: 0;
  margin-bottom: 1em;
  border-bottom: var(--divider);
}

.prikbord header p {
  font-weight: 300;
  color: #080808;
  padding: 0;
  font-size: 14px;
  grid-area: 2;
}

.prikbord article header img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0.5em 0 0;
  grid-row: 1 / 3;
}

#editable {
  grid-area: 1 /3;
  color: #1b2032;
  margin: 0;
}

.prikbord article header p {
  font-size: 12px;
}

.prikbord p {
  padding: 0.5em 0;
}

.prikbord .reactionCount {
  align-self: flex-end;
  font-size: 0.9rem;
  color: #607d8b;
}

.prikbord h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.prikbord article footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: var(--divider);
}

.prikbord article footer a {
  display: flex;
}

.prikbord footer label {
  border: none;
  color: #607d8b;
  margin: 1em 0em 0em 0em;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.prikbord footer label i {
  font-size: 1rem;
  margin: 0 0.3em;
}

.prikbord footer label p {
  margin: 0 0.3em;
}

.prikbord form {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.5em 0 0 0;
}

.prikbord form input[type="text"] {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin: 0.3em;
  padding: 0.5em;
}

.prikbord form input[type="submit"] {
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

.prikbord .newMessage {
  right: 0;
  bottom: 56px;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  background-color: var(--secondary-color);
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 1.5rem;
  box-shadow: var(--backdrop-shadow);
  min-height: 36px;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  line-height: 1.75;
  border-radius: 50%;
  border-style: none;
  text-transform: none;
}

dialog {
  border: 2px ridge var(--danger);
  position: absolute;
  left: 50%;
  top: 30%;
  box-shadow: var(--backdrop-shadow);
  transform: translate(-50%, -50%);
  border-radius: 6px;
  width: 100%;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

dialog form {
  padding: 1em;
  display: block !important;
}

dialog form h2 {
  color: var(--danger);
}

.prikbord dialog form p {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1em 0;
}

dialog form button {
  padding: 0.5em 1em;
  margin: 1em 1em 0 0;
  border-radius: 2em;
  border: 2px solid #979797;
  color: #565656;
  background-color: transparent;
  font-size: 0.9rem;
}

dialog form button:last-of-type {
  border: 2px solid var(--danger);
  color: var(--danger);
  background-color: transparent;
}

.reaction dialog {
  top: 55vh;
}

#likes {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}

#edit {
  color: #1b2032;
  flex-direction: column;
  position: absolute;
  right: -0.5em;
  top: 0em;
  background-color: #f4f4f4;
  padding: 1.5em 1.5em 1em 1em;
  border-radius: 6px;
  box-shadow: 2px 1px 6px #0000000f;
  z-index: -3;
}

#edit li {
  padding: 1em 1em 1em 0;
  border-bottom: var(--divider);
  border-radius: 3px;
  color: #565656;
  font-size: 0.9rem;
  align-items: center;
  margin: 0;
}

#edit li:last-of-type {
  color: var(--danger);
}
#edit i {
  margin: 0.5em 0.5em 0 0;
}

.post {
  margin: 0;
}

.post h1 {
  font-size: 1.125rem;
}

.detailHeader {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.detailheader a {
  color: #ffffff;
  margin: 0 1em 0 2em;
}

.detailheader a > i {
  margin-bottom: 0;
}

.detailHeader h1 {
  font-size: 1.3rem;
}

.post section {
  width: 100%;
  display: flex;
  padding: 1em;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  margin: 0;
}

.post form {
  display: flex;
  flex-direction: column;
  background-color: #ffffffde;
  box-shadow: var(--backdrop-shadow);
  padding: 1em;
}

.post label {
  color: #1b2032;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 1em 0 0 0;
}

.upload {
  background-color: #f2f2f2;
  box-shadow: var(--backdrop-shadow);
  padding: 1em;
  border-radius: 10px;
  margin: 1em 0.5em 1em 0;
  fill: var(--primary-color);
  display: flex;
  align-items: center;
}

.upload p {
  color: var(--primary-color);
  font-weight: 200;
  font-size: 14px;
  margin-left: 0.5em;
}

.post fieldset {
  border: none;
  display: flex;
}

.post input[type="text"] {
  padding: 8.5px 14px;
  color: #3a3e41;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: metropolis, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
  background-color: #edebeb;
}

.post textarea {
  height: 10em;
  font-size: 1rem;
  padding: 8.5px 14px;
  color: #3a3e41;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: metropolis, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
  background-color: #edebeb;
}

.post input[type="submit"],
.onboarding-groups footer input[type="submit"] {
  width: 90%;
  align-self: center;
  margin: 16px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 2em;
  font-size: 1rem;
}
.reaction {
  margin: 0 !important;
}

.reaction h2 {
  margin-top: 5px;
}

.reaction p:first-of-type {
  border-bottom: var(--divider);
}

.reaction ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reaction article form {
  flex-direction: row;
}

.reactions li {
  width: 100%;
  display: flex;
  margin: 0.5em 0 1em 0;
  position: relative;
  overflow: visible;
}

.reactions article {
  width: 100%;
  margin-bottom: 0;
}

.reactions li img {
  object-fit: cover;
  max-width: 2em;
  height: 2em;
  border-radius: 50% !important;
  margin: 0 0.5em;
}

.reactions #edit {
  z-index: 0;
  right: 0.5em;
  top: -1.65em;
}

.reactions #editable {
  position: absolute;
  right: 1em;
  z-index: 1;
}

.onboarding-groups footer input[type="submit"] {
  background-color: #339999;
  opacity: 0.5;
  box-shadow: var(--backdrop-shadow);
}

.chooseGroups li article div {
  padding: 1em;
}

.chooseGroups h3 {
  color: var(--secondary-color);
}

.chooseGroups li article .description {
  padding: 0.5em 1em 1em 1em;
  border-top: 0.5px solid #0000001a;
  border-bottom: 0.5px solid #0000001a;
}

.chooseGroups label {
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #565656;
  border: 1px solid #979797;
  font-size: 0.9rem;
  margin: 1em;
}

.groups .chooseGroups .groupLabel {
  border: 1px solid var(--secondary-color);
}

.groups .chooseGroups label a {
  color: var(--secondary-color);
}

#aanmelden,
#afmelden {
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 0.9rem;
  margin: 1em;
  background-color: transparent;
}

#aanmelden {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

#afmelden {
  color: var(--danger);
  border: 1px solid var(--danger);
}

.chooseGroups {
  flex-direction: column;
  overflow: inherit !important;
  height: auto !important;
}

.chooseGroups li {
  width: auto !important;
}

.onboarding-groups .discover h2 {
  text-align: center;
}

#joinIcon {
  font-size: 1rem;
  margin: 0 0.3em;
}

.chooseGroups input[type="checkbox"] {
  display: none;
}

.discover .chooseGroups img {
  width: 100%;
  margin-right: 0;
}

.post input[type="file"] {
  display: none;
}

.post select {
  height: 3em;
  border: none;
  padding: 0.5em;
  box-shadow: var(--backdrop-shadow);
  border-radius: 10px;
  width: 80%;
  margin: 1em 0;
  font-family: metropolis, sans-serif;
  font-weight: 500;
  border: 1px solid var(--secondary-color);
}

header img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
}

.prikbord article img {
  width: 100%;
  object-fit: cover;
  background-color: #f3f3f3;
  border-radius: 4px;
}

.onboarding {
  margin: 0;
  overflow: hidden;
}

.onboarding button {
  right: 0;
  bottom: 56px;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  background-color: var(--secondary-color);
  height: 42px;
  padding: 0 16px;

  font-size: 0.9rem;
  min-width: 0;

  min-height: 36px;
  font-family: metropolis, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 2em;
  border-style: none;
  text-transform: none;
}

.onboarding section {
  min-height: 100%;
}

.backDoor {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  border: solid 4px #013672;
  border-left: solid 1px #013672;
}

.onboarding .door {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0055b3;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 3.5s ease-in-out;
  border-radius: 0 15px 15px 0;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}

.onboarding section > h1 {
  color: #fff;
  font-size: 1.8rem;
  margin: 2em 0 10px 0;
}

.onboarding h2 {
  color: #fff;
  font-weight: 500;
  margin-top: 5em;
}

.onboarding section a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  align-self: flex-end;
  margin: 16px;
}

.onboarding img {
  opacity: 1;
  transition: 0.5s;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.contain {
  object-fit: contain !important;
  background-color: #d0ddcd;
}

.onboarding article h1 {
  color: #0070c0;
  font-size: 1.8rem;
  margin: 1em;
  font-size: 1.7em;
  text-align: center;
}

.onboarding article p {
  margin: 1em;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}
.onboarding section {
  margin: 0;
}

.index h2 {
  margin: 1em;
  font-size: 1.5em;
  color: #0070ff;
  text-align: center;
}

.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index form {
  display: flex;
  flex-direction: column;
}

.progressbar {
  height: 0.2em;
  width: 100%;
  background-color: #9dcbc7;
  margin: 1em 0;
  position: absolute;
  bottom: 1em;
}

.progress {
  height: 0.2em;
  width: 0%;
  background-color: var(--secondary-color);
}

.progress2 {
  width: 25%;
}

.progress3 {
  width: 50%;
}

.progress4 {
  width: 75%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/chat_1.svg);
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
}

.infoMessage {
  color: #c8d6e5;
  font-size: 13px;
  text-align: center;
  background-color: #1b2030b0;
  border-radius: 6px;
  padding: 0.5em;
  margin: 0 1em;
  box-shadow: var(--backdrop-shadow);
}

.chat span {
  color: var(--secondary-color);
  font-weight: 600;
}

.outgoing p {
  background-color: #1b203247;
  padding: 0.5em;
  border-radius: 6px;
}

.incoming p {
  background-color: #3654f447;
  padding: 0.5em;
  border-radius: 6px;
}

.chat section:nth-of-type(2) {
  margin: 0;
}

#user {
  opacity: 0;
}

.chat ul {
  display: flex;
  flex-direction: column;
}

.chat form {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-bottom: 2em;
}

.chat input[type="submit"] {
  border: none;
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0 6px 6px 0;
  box-shadow: var(--backdrop-shadow);
  width: 7em;
  font-size: 14px;
  height: 2.7em;
}

.chat input[type="text"] {
  border: none;
  padding: 10px;
  box-shadow: var(--backdrop-shadow);
  width: 100%;
  font-size: 14px;
}

.outgoing {
  width: 45%;
  padding: 0.6em;
  border-radius: 6px;
  margin: 0.5em;
  align-self: flex-end;
}

.outgoing h3 {
  color: var(--secondary-color);
}

.incoming {
  color: white;
  width: 45%;
  padding: 0.6em;
  border-radius: 6px;
  margin: 0.5em;
}

.profile section {
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  box-shadow: var(--backdrop-shadow);
}

.profile section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile section:nth-of-type(3) article img {
  width: 2.5em;
  height: 2.5em;
}

.profile section:nth-of-type(3) article div:first-of-type {
  margin: 0 0.5em;
  width: 100%;
}

.profile section:nth-of-type(3) > div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.profile section:nth-of-type(3) > div p {
  font-size: 14px;
}

.profile section span {
  color: #3a3e41;
  font-weight: 200;
  font-size: 12px;
}

.profile section p {
  margin: 0.3em 0;
}

.profile img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
}

.profile ul {
  width: 100%;
}

.profile h3 {
  font-weight: 500;
}

.profile ul li article {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  border-radius: 10px;
  margin: 0.7em 0;
}

.profile ul li article p {
  font-size: 14px;
  color: #080808;
}

.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  text-indent: -9999px;
  width: 3em;
  height: 1.8em;
  background-color: #979797;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: "";
  position: absolute;
  top: 2.9px;
  left: 5px;
  width: 1.4em;
  height: 1.4em;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label {
  background: var(--primary-color);
}

.toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle label:active:after {
  width: 2em;
}
.profile section article {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile section article button {
  border: none;
  padding: 0.5em;
  width: 75%;
  align-self: center;
  justify-self: center;
  font-size: 1em;
  background-color: var(--danger);
  color: #fff;
  border-radius: 6px;
  box-shadow: var(--backdrop-shadow);
}

.profile section article a {
  width: 95%;
  text-align: center;
}

.profile .myHouse li {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.profile .myHouse li i {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-right: 0.5em;
}

.userAvatar {
  position: relative;
}

.userAvatar svg {
  position: absolute;
  fill: var(--secondary-color);
}

.userAvatar span {
  background-color: #fff;
  box-shadow: var(--backdrop-shadow);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  position: absolute;
  right: 0;
  bottom: -1em;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.groups section {
  background-color: #ffffff;
  margin: 0;
  padding: 1em;
  border-radius: 6px;
  box-shadow: var(--backdrop-shadow);
}

.groups section:first-of-type {
  margin: 1em 0;
}

.onboarding-groups section:first-of-type {
  margin: 0em;
}

.groups img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.groups ul {
  width: 100%;
}

.groups ul:first-of-type {
  overflow: scroll;
  height: 51vh;
}

.groups ul li article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.groups .discover ul {
  display: flex;
}

.discover ul li {
  margin: 0.5em;
  width: 100%;
}

.chooseGroups article {
  box-shadow: var(--backdrop-shadow);
}

.groups .discover ul li article {
  height: 90%;
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.discover article img {
  border-radius: 4px;
  width: 13em;
  height: 10em;
  object-fit: cover;
}

.discover ul li article button {
  border-radius: 10px;
  padding: 0.5em 1em;
  color: #fff;
  border: 2px solid var(--secondary-color);
  font-size: 0.8rem;
  background: var(--secondary-color);
}

.groups article div {
  width: 100%;
}

.groups ul li article p {
  font-size: 14px;
  color: #080808;
}

.groups section article button {
  border: none;
  padding: 0.5em;
  font-size: 1.2em;
  color: #fff;
  border-radius: 50%;
  box-shadow: var(--backdrop-shadow);
}

.memberDate {
  width: 100%;
  color: #979797 !important;
}

.groupDetail section {
  background-color: #ffffff;
  margin: 1em 0.5em;
  border-radius: 6px;
  box-shadow: var(--backdrop-shadow);
  padding: 1em;
}

.groupDetail form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.groupDetail form label {
  font-weight: 500;
  margin: 1em 0;
}

.signUpForGroup {
  margin: 0 !important;
}

.alreadyMember {
  color: #9d9d9d;
  font-size: 0.9rem;
}

.groupDetail img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.groupDetail .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupDetail .members,
.groupDetail .toggle,
.groupDetail article {
  padding: 1em 0;
  border-bottom: var(--divider);
}

.groupDetail input[type="submit"] {
  align-self: center;
  padding: 0 1em;
  border: 1px solid var(--secondary-color);
  border-radius: 2em;
  color: var(--secondary-color);
  background-color: transparent;
  height: 2em;
  font-size: 1rem;
}

.groups .groupTabs {
  display: flex;
  justify-content: center;
}

.groups .groupTabs h2 {
  padding: 1em;
  border-radius: 0 0 6px 0;
  color: #979797;
  background-color: #f2f2f2;
  font-size: 1rem;
  margin-bottom: 0;
}

.groupDetail .members ul {
  padding: 0.7em 0;
}

.groupDetail .members ul li {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.groupDetail .members ul li img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 2em;
  object-fit: cover;
  margin: 0 0.5em;
  border: 1px ridge var(--secondary-color);
}
.rooms ul li form {
  display: flex;
  align-items: center;
  /* padding: 1em 0; */
  border-bottom: var(--divider);
}

.rooms {
  margin: 0;
}

.rooms ul li img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 2em;
  object-fit: cover;
  margin: 0 1em;
  border: 1px ridge var(--secondary-color);
}

.rooms button {
  width: 100%;
  text-align: start;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  height: 4em;
  box-shadow: none;
  padding: 1em 0;
  background-color: #b2bec380;
}

#flexContainer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--divider);
}

.filter-list li:nth-child(n + 5) {
  display: none !important;
}

#flexContainer i {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.activeTab {
  background-color: #fff !important;
  color: var(--primary-color) !important;
}

.loading {
  display: flex;
  position: absolute;
  background-color: #eff3ee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  margin: 0;
}

.loadingGroups span div:first-of-type {
  grid-template-columns: 1fr 1fr 10% 1fr;
  grid-template-rows: 1fr 0% 60%;
}

.loadingSpan {
  background-color: #fff;
  width: 100%;
  height: 75%;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 6px;
  box-shadow: var(--backdrop-shadow);
  flex-direction: column;
}

.loading span div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.loading span div svg {
  height: 8em;
  fill: #1b2032;
  grid-area: 2 / 2;
}

.loading span div svg:first-of-type {
  height: 6em;
  grid-area: 1 / 3;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading span div svg:first-of-type path {
  height: 6em;
}

#can {
  fill: #1b2032;
}

#flower {
  fill: var(--secondary-color);
}

#waterdrops {
  grid-area: 1 / 3;
  animation: water 3s infinite;
  fill: var(--primary-color);
}

.loading span div svg:last-of-type {
  transform-origin: bottom;
  animation: wind 2s infinite linear;
}

.loadingSpan h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 5em;
  font-size: 1.3em;
}

#zak {
  fill: #1b2032;
}

#bak {
  fill: var(--secondary-color);
  height: 9em;
  grid-area: 3 / 2;
}

.cls-1,
.dekselFill {
  fill: #fff;
}

.dekselFill,
.dekselOutline {
  animation: open 3s infinite linear;
  transform: rotate(14deg) translateX(50px);
}

@keyframes loading {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(-6deg) translateY(1em);
  }
  50% {
    transform: rotate(-10deg) translateY(1.5em);
  }
  100% {
    transform: rotate(2deg) translateY(0);
  }
}

@keyframes water {
  0% {
    opacity: 0;
    transform: translateY(0em) rotate(-3deg);
  }
  60% {
    opacity: 1;
    transform: translateY(4em) rotate(-15deg);
  }
  100% {
    opacity: 0;
    transform: translateY(5em) rotate(-17deg);
  }
}

@keyframes wind {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(1deg);
  }
  75% {
    transform: skewX(-1deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes open {
  0% {
    transform: rotate(14deg) translate(50px);
  }
  25% {
    transform: rotate(6deg) translate(20px);
  }
  50% {
    transform: rotate(0deg) translate(0px);
  }
  100% {
    transform: rotate(14deg) translate(50px);
  }
}

.navbar {
  background-color: pink;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
}

#afmelden {
  border: 1px solid var(--danger);
  background-color: transparent;
  color: var(--danger);
  border-radius: 2em;
}

.tab-container {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.tab:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.active {
  display: block;
}

#showAllMembers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#showAllMembers p,
#showAllMembers i {
  color: var(--secondary-color);
  margin: 0 0.2em;
}

#showMore {
  color: var(--secondary-color);
}
