* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: metropolis, sans-serif;
}

header {
  background-image: linear-gradient(90deg, #0055b3, #007aff);
  color: white;
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 3.5em;
}

header h1 {
  font-size: 1.8rem;
  margin: 1rem;
}

main {
  min-height: 100%;
}

ul {
  list-style-type: none;
}

footer nav {
  left: 0;
  width: 100%;
  bottom: 0;
  height: calc(56px + env(safe-area-inset-bottom));
  display: flex;
  padding: 0 16px env(safe-area-inset-bottom);
  z-index: 1100;
  position: fixed;
  box-shadow: 3px -4px 15px 0 rgba(44, 44, 44, 0.22);
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.prikbord section {
  padding: 16px;
}

.prikbord article {
  border-radius: 4px;
  box-shadow: 1px 2px 6px #0000004f;
  color: inherit;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 5em;
  overflow: hidden;
  text-decoration: none;
  word-break: break-word;
  margin-bottom: 16px;
  padding: 16px;
}

.prikbord h2 {
  color: #007aff;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.prikbord button {
  right: 0;
  bottom: 56px;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  background-color: #007aff;
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 1.5rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -6px rgba(0, 0, 0, 0.05),
    0px 6px 10px 0px rgba(0, 0, 0, 0.05), 0px 1px 18px 0px rgba(0, 0, 0, 0.04);
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  line-height: 1.75;
  border-radius: 50%;
  border-style: none;
  text-transform: none;
}

.post h1 {
  font-size: 1.125rem;
}

.postHeader {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post section {
  width: 100%;
  display: flex;
  padding: 16px 16px 32px 16px;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post form {
  display: flex;
  flex-direction: column;
}

.post label {
  color: #0055b3;
}

.post input[type="text"] {
  padding: 18.5px 14px;
  color: #3a3e41;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: metropolis, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  margin-bottom: 16px;
}

.post textarea {
  height: 14em;
  align-items: center;
  font-family: metropolis, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  font-size: 1rem;
}

.post input[type="submit"] {
  width: 90%;
  align-self: center;
  margin: 16px;
  background-color: #007aff;
  border: none;
  border-radius: 16px;
  color: #fff;
  height: 2em;
  font-size: 1rem;
}

.prikbord article img {
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffffb5;
  background-blend-mode: color;
}

.onboarding button {
  right: 0;
  bottom: 56px;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  background-color: #007aff;
  height: 56px;

  padding: 16px;
  font-size: 0.9rem;
  min-width: 0;

  min-height: 36px;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  line-height: 1.75;
  border-radius: 32px;
  border-style: none;
  text-transform: none;
}

.onboarding section {
  background-color: #0055b3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.onboarding h1 {
  color: #fff;
  font-size: 1.8rem;
  margin: 2em 0 10px 0;
}

.onboarding h2 {
  color: #fff;
  font-weight: 500;
  margin-top: 5em;
}

.onboarding section a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  align-self: flex-end;
  margin: 16px;
}

.onboarding img {
  opacity: 1;
  transition: 0.5s;
}
